{% extends 'layout.twig' %}

{% block body %}

    <div class="register-container">
        <div class="form-signin">
            <div class="text-center mb-6">
                <h1 class="h3 mb-3 font-weight-normal">Could not create your account</h1>
                <p>We're sorry, but due to security concerns your account could not be created.</p>
                <p>Please <a href="/">try again</a>, ensuring you complete the information in the fields exactly as it is in your ID, or alternatively, visit us in the nearest branch office.</p>
            </div>
        </div>
    </div>

{% endblock %}