{% extends 'layout.twig' %}

{% block body %}

    <div class="register-container">
        <div class="form-signin">
            <div class="text-center mb-6">
                <h1 class="h3 mb-3 font-weight-normal">Success!</h1>
                <p>Your bank account has been successfully created. You will be redirected to your account dashboard now.</p>
            </div>
        </div>
    </div>

    <script>
        setTimeout(function () {
            window.location = "/dashboard";
        }, 2000)
    </script>

{% endblock %}
